/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/purple-green.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.title-header {
  font-size: 19px;
  color: #3f51b5;
}

.error {
  font-size: 12px;
  color: crimson;
}

.hint-msg {
  color: burlywood;
  font-size: 55%;
}

.controls-container {
  width: 100%;
  padding: 5%;

}

.controls-container > * {
  width: 100%;
}
